/* Inicio Fonts */

@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
/*@import url(https://fonts.googleapis.com/css?family=Khula:700);*/

/* Fin Fonts */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    text-decoration: none;
    list-style: none;
}

html{

    height: 100%;
}

body{

    min-height: 100%;

}

/*Inicio Code Maquina de Escribir Codepen*/

.hidden {
    opacity:0;
  }

.console-container {
 
    /*font-family:Khula;*/
    font-size:32px;
    text-align:center;
    /*height:200px;
    width:600px;
    display:block;
    position:absolute;*/
    color:rgb(82, 75, 75);
    
  }
  
  .console-underscore {
  
    display:inline-block;
    position:relative;
    top:-0.14em;
    left:10px;
  
  }
  
  /*Fin Code Maquina de Escribir Codepen*/
  
/*ESTILADO DE MENU DE NAVEGACION - HEADER*/

.list-menu{

    background-color: black;
    color: black;
    width: 100%;
    top: 140px;
    min-height: calc(100vh - 140px);
    position: absolute; /*Saliendo de Flujo HTML*/
    font-family: Arial, Helvetica, sans-serif;
    padding: 1.5rem 1rem;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    font-weight: bold;
    display: flex;
    left: -100%;
    transition: left .5s linear;
    font-size: 20px;
    
}

.list-newmenu-container{
    display: none;
}

.list-menu a{
    color: white;
}

.ico-menu{

    width: 24px;
}

#check-menu{
    visibility: hidden;
}

#check-menu:checked ~ .list-menu{
    left: 0;
}

/*ESTILADO DEL SECTION*/

.year-exp{

    color: rgb(5, 163, 5);
    font-weight: bold;
}

.img-social{

    width: 24px;

}

.div-linkedin{

    background-color: black;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items:center;
    padding-top: 3px;
    
}

.div-instagram{

    background-color: black;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 3px;
}

.div-twitter{

    background-color: black;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 3px;
}

.btn-contact{

    background-color: black;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 207px;
    height: 45px;
    gap: 1rem;
    border: 0;
    font-weight: bold;

}

/*ESTILADO DEL FOOTER*/

.contacto-cel{
    text-align: center;
}

.contacto-email{
    text-align: center;
    
}

/*GRID PARA MOVIL*/

.header{

    grid-area: header;
    background-color: white; /*Fondo de Header General, Barra Hamburguesa*/
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 35px;

}

.section{
    grid-area: section;
    background-color: white; /*Fondo de de la Seccion General*/
}

.aside{
    grid-area: aside;
    background-color: #FCDA68; /*Fondo de Aside General*/
}

.article{
    grid-area: article;
    background-color: white; /*Fondo de Article General*/
}

.footer{
    grid-area: footer;
    background-color: white; /*Fondo de Footer General*/
}

/*CONTENEDOR PRINCIPAL*/

.grid-container{
    display: grid;
    /*gap: 10px;*/
    grid-template-rows: 80px auto auto; /*Separacion entre contenedores Principales*/
    grid-template-areas: 
    'header'
    'section'
    'aside'
    'article'
    'footer'
    ;
}

.title{
    grid-area: section1;
    background-color: white; /*Color de Fondo de la Maquina Codepen*/
    text-align: center;
}

.description{
    grid-area: section2;
    background-color: white; /*Color Fondo Description - Section*/
    text-align: center;
    padding: 0px 15px;
    /*padding: 0px 10px;*/
}

.experiencie{
    grid-area: section3;
    background-color: white; /*Color Fondo Experiencie - Section*/
    text-align: center;
}

.social-media{
    grid-area: section4;
    background-color: white; /*Color Fondo Social Media - Section*/
    display: flex; 
    flex-direction: row;
    justify-content: center;
    gap: 1.5rem;
    margin-bottom: 20px;
}


.personal-pic{
    grid-area: section5;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.personal-pic-desktop{
    width: 243px;
    height: 243px;
    border-radius: 20%;
    background-color: rgb(252, 218, 104, 0.9);
}

.contact{
    grid-area: section6;
    background-color: white;/*Color de Fondo de Contact - Section*/
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.section{
    display: grid;
    grid-template-rows: 3.75rem 4.37rem 2.81rem 4.68rem 17.5rem 6.25rem;
    grid-template-areas:
    'section1'
    'section2' 
    'section3' 
    'section4' 
    'section5' 
    'section6';
}

.title-exp{
    /*background-color: rgb(252, 186, 18); Fondo de trabajo*/
    grid-area: aside1;
    padding: 30px 15px;
    
}

.description-exp{
    /*background-color: #8E7EBF; Fondo de Trabajo*/
    grid-area: aside2;
    padding: 0px 15px;
    padding-bottom: 30px;
}

.experiencie-title{
    /*background-color: yellow;  Fondo de trabajo */
    grid-area: aside3;
    padding: 0px 15px;
    padding-bottom: 20px;
}


/*Experiencia Grid para Contenedor EXP-TITLE*/

.year-exp1{
    grid-area: year1;
    color: black;
    border-bottom: 2px solid gray;
    padding-bottom: 10px;
    font-size: 0.87rem;
}

.year-exp2{
    grid-area: year2;
    padding: 10px 0px;
    font-size: 0.87rem;
    border-bottom: 2px solid gray;
    
}

.year-exp3{
    grid-area: year3;
    padding: 10px 0px;
    font-size: 0.87rem;
}

.profesion-exp1{
    grid-area: profesion1;
    font-weight: bold;
}

.profesion-exp2{
    grid-area: profesion2;
    padding-top: 10px;
    font-weight: bold;
}

.profesion-exp3{
    grid-area: profesion3;
    padding-top: 10px;
    font-weight: bold;
}

.empresa-exp1{
    grid-area: empresa1;
    padding-bottom: 10px;
    border-bottom: 2px solid gray;
    
    
}

.empresa-exp2{
    grid-area: empresa2;
    padding-bottom: 10px;
    border-bottom: 2px solid gray;
}

.empresa-exp3{
    grid-area: empresa3;
    
}

.contenedor-exp-title{
    background-color: #FCDA68;
    grid-area: aside4;
    color: black;
    padding: 0px 15px;
    padding-bottom: 40px;
    display: grid;
    grid-template-columns: 120px;
    grid-template-areas:
    'year1 profesion1'
    'year1 empresa1'
    'year2 profesion2'
    'year2 empresa2'
    'year3 profesion3'
    'year3 empresa3';
}

.habilidades-title{
    /*background-color: gray; Fondo de Trabajo*/
    grid-area: aside5;
    padding: 0px 15px;
    padding-bottom: 20px;
}

.contenedor-habilidades-img{
    /*background-color: rgb(207, 96, 16); Fonde de Trabajo*/
    grid-area: aside6;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 2rem;
    font-weight: bold;
    color: rgb(49, 48, 48);
    padding: 50px 0px;
}

.habilidad-name{
    padding-top: 10px;
    color: rgb(0, 0, 0, 0.8);
}

.habilidad-0{
    /*border: 2px dashed;
    padding: 15px;
    border-radius: 10px;
    color: rgba(0, 0, 0, 0.4);*/
    /*background-color: rgb(128, 128, 128, 0.1);*/
    padding: 15px;
    border-radius: 10px;
}

.habilidades-icon{
    opacity: 50%;
}

.habilidad-check{
    font-size: 24px;
    color: rgb(5, 163, 5);
}

.aside{
    display: grid;
    grid-template-areas: 
    'aside1'
    'aside2'
    'aside3'
    'aside4'
    'aside5'
    'aside6';
}

.portafolio-title{
    /*background-color: rgb(159, 151, 151); Fondo Titulo de Portafolio*/
    grid-area: article1;
    align-self: start;
    padding: 13px 15px;
    padding-top: 50px;
    font-size: 24px;
    
}

.porta-img{
    width: 100%;
}

.portafolio-h3-1{
    text-align: start;
    padding: 0px 16px;
    padding-bottom: 20px;
    color: rgb(0, 0, 0);
    
}

.portafolio-h3-2{
    padding: 0px 16px;
    padding-top: 25px;
    padding-bottom: 5px;
    color: rgb(0, 0, 0);
    
}

.portafolio-h3-3{
    padding: 0px 16px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: rgb(0, 0, 0);
}

.portafolio-1{
   grid-area: article2;
   
}

.portafolio-2{
    grid-area: article3;
   
}

.portafolio-3{
    grid-area: article4;
    
}

.article{
    display: grid;
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-template-areas:
    'article1'
    'article2'
    'article3'
    'article4';
}

.contacto-title{
    grid-area: footer1;
    text-align: center;
    font-size: 24px;
    padding: 40px 0px;
}

.contact-img-social{
   
    width: 80px;
    
}

.contact-subtitle{
    font-weight: bold;
    padding: 5px 0px;
    font-size: 18px;
}

.contact-subtitle-2{
    font-size: 14px;
}

.contenedor-contacto{
    grid-area: footer2;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
}

.firma-footer{
    grid-area: footer3;
    text-align: center;
    background-color: rgb(0, 0, 0, 0.8);
    padding: 10px 0px;
    margin-top: 50px;
    color: white;
    
}

.footer{
    display: grid;
    grid-template-areas: 
    'footer1'
    'footer2'
    'footer3';
}

/*GRID PARA DESKTOP*/

@media (min-width: 675px){

/*CODE MAQUINA DE ESCRIBIR CODEPEN*/

.console-container {
 
    /*font-family:Khula;*/
    font-size:62px;
    
  }


/*MENU DE NAVEGACION*/

.header{
    /*margin: 0px 80px;*/
    padding: 0px 120px;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.8);
}   

.ico-menu{
    display: none;
}
     
#check-menu{
    display: none;
}

#check-menu:checked ~ .list-menu{
    display: none;
}
 
/*Nueva Barra de Navegacion*/

.list-newmenu {
    cursor: pointer;
    position: relative;
    padding: 10px 20px;
    font-size: 16px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    transition: all 1s;
    color: white; 
    border: 1px dashed;
  }

  .list-newmenu:after, .list-newmenu:before {
    content: " ";
    width: 10px;
    height: 10px;
    position: absolute;
    border: 0px solid #fff;
    transition: all 1s;
  }
  .list-newmenu:after {
    top: -1px;
    left: -1px;
    border-top: 5px solid #FCDA68;
    border-left: 5px solid #FCDA68;
  }
  .list-newmenu:before {
    bottom: -1px;
    right: -1px;
    border-bottom: 5px solid #FCDA68;
    border-right: 5px solid #FCDA68;
  }
  .list-newmenu:hover {
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
  }
  .list-newmenu:hover:before, .list-newmenu:hover:after {
    width: 100%;
    height: 100%;
  }
  
  .list-newmenu-container {
    background: transparent;
    /*height: 100vh;*/
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: center;
    
    
  }


/*CONTAINER PRINCIPAL*/

.grid-container{
    display: grid;
    /*gap: 10px;*/
    grid-template-rows: 140px auto auto;
    grid-template-areas: 
    'header'
    'section'
    'aside'
    'article'
    'footer'
    ;
}

  
/*--------------------*/

/*ZONA SECTION*/

.title{
       
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
        
}

.description{
    text-align: start;
    font-size: 32px;
    color: gray;
    padding: 0;
}

.experiencie{
    text-align: start;
    font-size: 24px;
}

.social-media{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 3rem;
    margin: 0;
    padding-top: 20px;
}

.personal-pic-desktop{
    width: 480px;
    height: 480px;
    border-radius: 50%;  
    background-color: rgb(252, 218, 104, 0.9);
}

.personal-pic{
    justify-content: flex-end;
}

.contact{  
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;     
}

.btn-contact{
    width: 310px;
    height: 45px;
}

.section{
    display: grid;
    grid-template-columns: 50%;
    grid-template-rows: 140px 120px 50px 70px auto;
    grid-template-areas:
    'section1 section5' 
    'section2 section5' 
    'section3 section5'
    'section4 section5'
    'section6 section5';
    margin: 50px 120px;
    padding-bottom: 30px;
}

/*ZONA ASIDE*/

.title-exp{
    font-size: 35px;
    padding: 0;
    padding-top: 30px;
}
    
.experiencie-title{    
    padding-top: 30px;
    font-size: 20px;
}

.description-exp{
    padding: 0;
    font-size: 20px;
}

.habilidades-title{
    padding: 0;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;    
}

.contenedor-habilidades-img{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 3rem;
    padding-top: 30px;
}

.aside{
    padding: 0px 120px;
    display: grid;
    grid-template-columns: 50%;
    grid-template-areas: 
    'aside1 aside3'
    'aside1 aside4'
    'aside2 aside4'
    'aside5 aside4'
    'aside6 aside6';
}

/*ZONA ARTICLE*/

.article{
    /*margin: 0px 120px;*/
    margin: 0px 120px;
    display: grid;
    flex-direction: row;
    justify-content: space-between;
    top: 0;
    gap: 1rem;
    grid-template-areas:
    'article1 article1 article1'
    'article2 article3 article4'
        ;
}

.portafolio-title{
      
    align-self: start;
    padding: 13px 0px;
    padding-top: 50px;
    font-size: 24px;
        
}

  
.portafolio-h3-1, .portafolio-h3-2, .portafolio-h3-3{
    
    padding: 0;
    padding-bottom: 10px;
    
}
   

/*ZONA FOOTER*/

/*footer>.contacto-title{
    padding: 25px 0px;
    text-align: center;
}*/

.firma-footer{
    background-color: rgb(0, 0, 0, 0.8);
    padding: 10px 0px;
    margin-top: 50px;
    color: white;
   
}

.contenedor-contacto{
    display: grid;
    grid-template-areas: 
    'contacto-cel contacto-email';
    gap: 12rem;
}

/*.base-icon-{
    background-color: #F9F5F2;
    width: 150px;
    height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    
}*/

.contact-img-social{
    width: 100px;
}

.contacto-title{
    grid-area: footer1;
    text-align: start;
    font-size: 24px;
    padding: 40px 120px;

}

.contact-subtitle{
padding-top: 15px;
padding-bottom: 30px;
}


       
}






