/* HECHO BY MR-CONFIG - IMMER - ACADEMLO */

/* ---------- INICIO FUENTES ---------- */

@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
/*@import url(https://fonts.googleapis.com/css?family=Khula:700);*/

/* ---------- FINAL FUENTES ---------- */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    text-decoration: none;
    list-style: none;
}

:root {

    /*---------- Colores ----------*/
    --head-footer: hsl(0, 0%, 0%, 0.8); /* hsl(0, 0%, 0%, 0.8);*/
    --back-white: hsl(60, 100%, 97%); /* hsl(60, 100%, 97%); */
    --back-yellow: hsl(46, 96%, 69%); /* hsl(46, 96%, 69%); */
    --back-switch: hsl(46, 96%, 69%); /* hsl(46, 96%, 69%); */
    --back-picProfile: hsl(46, 96%, 69%); /* hsl(46, 96%, 69%); */
    --text-headfooter: hsl(60, 100%, 97%); /* hsl(60, 100%, 97%); */
    --text-body: hsl(0, 0%, 0%); /* hsl(0, 0%, 0%); */
    --hambur-color: hsl(0, 0%, 0%); /* hsl(0, 0%, 0%); */
    /*---------- Colores ----------*/
    
}


body.dark {
    
    
    /*---------- Colores ----------*/
    --head-footer: hsl(183, 51%, 61%); /* hsl(0, 0%, 0%, 0.8);*/
    --back-white: hsl(249, 19%, 14%); /* hsl(60, 100%, 97%); */
    --back-yellow: hsl(255, 8%, 10%); /* hsl(46, 96%, 69%); */
    --back-switch: hsl(183, 51%, 61%); /* hsl(183, 51%, 61%); */
    --back-picProfile: hsl(183, 51%, 61%); /* hsl(46, 96%, 69%); */
    --text-headfooter: hsl(0, 0%, 100%); /* hsl(60, 100%, 97%); */
    --text-body: hsl(0, 0%, 75%); /* hsl(0, 0%, 0%); */
    --hambur-color: hsl(183, 51%, 61%); /* hsl(183, 51%, 61%); */
    /*---------- Colores ----------*/
    
}

body{
    background-color: var(--back-white);
    transition: 1s ease-in-out;
}

/*html{
    height: 100%;
}*/

/* ---------- INICIO TITULO ANIMADO ---------- */

.hidden {
    opacity:0;
  }

.console-container {
    /*font-family:Khula;*/
    font-size:32px;
    text-align:center;
    /*height:200px;
    width:600px;
    display:block;
    position:absolute;*/
    color:rgb(82, 75, 75);
  }
  
  .console-underscore {
    display:inline-block;
    position:relative;
    top:-0.14em;
    left:10px;
  }
  
/* ---------- FIN TITULO ANIMADO ---------- */
  

/* ---------- ESTILADO DE MENU DE NAVEGACION - HEADER ----------*/

.list-menu{
    position: absolute; /*Saliendo de Flujo HTML*/
    background-color: black;
    color: black;
    width: 100% ;
    top: 140px;
    min-height: calc(100vh - 140px);
    font-family: Arial, Helvetica, sans-serif;
    padding: 1.5rem 1rem;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    font-weight: bold;
    display: flex;
    left: -100%;
    transition: left .5s linear;
    font-size: 20px;
    z-index: 3;
}

.list-newmenu-container{
    display: none;
}

.list-menu a{
    color: white;
}

.fa-bars{
    color: var(--hambur-color);
}

#check-menu{
    visibility: hidden;
}

#check-menu:checked ~ .list-menu{
    left: 0;
}


/* ---------- ESTILADO DEL SECTION ---------- */

.year-exp{
    color: rgb(5, 163, 5);
    font-weight: bold;
}

.img-social{
    width: 24px;
    
}

.div-linkedin{
    background-color: black;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items:center;
    padding-top: 3px;
}

.div-github{
    background-color: black;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 3px;
}


.div-twitter{
    background-color: black;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 3px;
}

/*
.btn-contact{
    background-color: black;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 207px;
    height: 45px;
    gap: 1rem;
    border: 0;
    font-weight: bold;
}

*/

/* ---------- ESTILADO DEL FOOTER ---------- */

.contacto-cel{
    text-align: center;
}

.contacto-email{
    text-align: center;  
}

/* ---------- INICIO GRID AREA (PRINCIPAL) ---------- */

.header{
    
    grid-area: header;
    /*background-color: white; Fondo de Header General, Barra Hamburguesa*/
    display: flex;
    margin: auto 15px;
    /*justify-content: space-between;
    justify-items: center;
    align-items: center;*/
}

.section{
    grid-area: section;
    /*background-color: white; Fondo de de la Seccion General*/
   
}

.aside{
    grid-area: aside;
    background-color: var(--back-yellow); /*Fondo de Aside General*/
    transition: 1s ease-in-out;
}

.article{
    grid-area: article;
    /*background-color: white; Fondo de Article General*/
}

.footer{
    grid-area: footer;
    /*background-color: white; Fondo de Footer General*/
}

/* ---------- CONTENEDOR PRINCIPAL (GRID) ---------- */

.grid-container{
    
    display: grid;
    justify-content: center;
    /*gap: 10px;*/
    grid-template-rows: 80px auto; /*Separacion entre contenedores Principales*/
    grid-template-areas: 
    'header'
    'section'
    'aside'
    'article'
    'footer'
    ;
}

/* ---------- INICIO GRID AREA SECTION ---------- */

.title{
    grid-area: section1;
    /*background-color: white; Color de Fondo de la Maquina Codepen*/
    text-align: center;
}

.description{
    grid-area: section2;
    /*background-color: white; Color Fondo Description - Section*/
    text-align: center;
    padding: 0px 15px;
    color: var(--text-body);
    transition: 1s ease-in-out;
    /*padding: 0px 10px;*/
}

.experiencie{
    grid-area: section3;
    /*background-color: white; Color Fondo Experiencie - Section*/
    text-align: center;
    color: var(--text-body);
    transition: 1s ease-in-out;
}

.social-media{
    grid-area: section4;
}

.personal-pic{
    grid-area: section5;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.personal-pic-desktop{
    width: 243px;
    height: 243px;
    border-radius: 20%;
    background-color: var(--back-picProfile);
    transition: 1s ease-in-out;
}

.contact{
    grid-area: section6;
    /*background-color: white; Color de Fondo de Contact - Section*/
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/* ---------- CONTENEDOR SECTION (GRID) ---------- */

.section{
    display: grid;
    grid-template-rows: 3.75rem 4.37rem 2.81rem 4.68rem 17.5rem 6.25rem;
    grid-template-areas:
    'section1'
    'section2' 
    'section3' 
    'section5' 
    'section4' 
    '.';
}

/* ---------- INICIO GRID AREA ASIDE ---------- */

.title-exp{
    /*background-color: rgb(252, 186, 18); Fondo de trabajo*/
    grid-area: aside1;
    padding: 30px 15px;
    color: var(--text-body);
    transition: 1s ease-in-out;
}

.description-exp{
    /*background-color: #8E7EBF; Fondo de Trabajo*/
    grid-area: aside2;
    padding: 0px 15px;
    padding-bottom: 50px;
    line-height: 25px;
    color: var(--text-body);
    transition: 1s ease-in-out;
    
}

.experiencie-title{
    /*background-color: yellow;  Fondo de trabajo */
    grid-area: aside3;
    padding: 0px 15px;
    padding-bottom: 20px;
    margin-bottom: 50px;
    color: var(--text-body);
    transition: 1s ease-in-out;
}


    /* ---------- INICIO GRID AREA EXP-TITLE ---------- */

.year-exp1{
    grid-area: year1;
    color: black;
    border-bottom: 2px solid gray;
    padding-bottom: 10px;
    font-size: 0.87rem;
    color: var(--text-body);
    transition: 1s ease-in-out;
}

.year-exp2{
    grid-area: year2;
    padding: 10px 0px;
    font-size: 0.87rem;
    border-bottom: 2px solid gray;  
    color: var(--text-body);
    transition: 1s ease-in-out;
}

.year-exp3{
    grid-area: year3;
    padding: 10px 0px;
    font-size: 0.87rem;
    color: var(--text-body);
    transition: 1s ease-in-out;
}

.profesion-exp1{
    grid-area: profesion1;
    font-weight: bold;
    padding-bottom: 20px;
    color: var(--text-body);
    transition: 1s ease-in-out;
}

.profesion-exp2{
    grid-area: profesion2;
    padding-top: 10px;
    font-weight: bold;
    padding-bottom: 20px;
    color: var(--text-body);
    transition: 1s ease-in-out;
}

.profesion-exp3{
    grid-area: profesion3;
    padding-top: 10px;
    font-weight: bold;
    color: var(--text-body);
    transition: 1s ease-in-out;
}

.empresa-exp1{
    grid-area: empresa1;
    padding-bottom: 10px;
    border-bottom: 2px solid gray; 
    color: var(--text-body);
    transition: 1s ease-in-out;
}

.empresa-exp2{
    grid-area: empresa2;
    padding-bottom: 10px;
    border-bottom: 2px solid gray;
    color: var(--text-body);
    transition: 1s ease-in-out;
}

.empresa-exp3{
    grid-area: empresa3; 
    color: var(--text-body);
    transition: 1s ease-in-out;
}

/* ---------- CONTENEDOR EXP-TITLE (GRID) ---------- */

.contenedor-exp-title{
    background-color: transparent;
    grid-area: aside4;
    color: black;
    padding: 0px 15px;
    padding-bottom: 40px;
    display: grid;
    grid-template-columns: 120px;
    grid-template-areas:
    'year1 profesion1'
    'year1 empresa1'
    'year2 profesion2'
    'year2 empresa2'
    'year3 profesion3'
    'year3 empresa3';
}

.habilidades-title{
    /*background-color: gray; Fondo de Trabajo*/
    grid-area: aside5;
    padding: 0px 15px;
    padding-bottom: 20px;
    color: var(--text-body);
    transition: 1s ease-in-out;
}

.contenedor-habilidades-img{
    /*background-color: rgb(207, 96, 16); Fonde de Trabajo*/
    grid-area: aside6;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 2rem;
    font-weight: bold;
    color: rgb(49, 48, 48);
    padding: 50px 0px;
}

.habilidad-name{
    padding-top: 10px;
    color: var(--text-body);
    transition: 1s ease-in-out;
}

.habilidad-0{
    /*border: 2px dashed;
    padding: 15px;
    border-radius: 10px;
    color: rgba(0, 0, 0, 0.4);*/
    /*background-color: rgb(128, 128, 128, 0.1);*/
    padding: 15px;
    border-radius: 10px;
}

.habilidades-icon{
    opacity: none;
}

.habilidad-check{
    font-size: 24px;
    color: rgb(5, 163, 5);
}

/* ---------- CONTENEDOR ASIDE (GRID) ---------- */

.aside{
    display: grid;
    grid-template-areas: 
    'aside1'
    'aside2'
    'aside3'
    'aside4'
    'aside5'
    'aside6';
}

/* ---------- INICIO GRID AREA ARTICLE ---------- */

.portafolio-title{
    /*background-color: rgb(159, 151, 151); Fondo Titulo de Portafolio*/
    grid-area: portafolio;
    /*align-self: start;*/
    padding-top: 50px;
    padding-bottom: 3rem;
    font-size: 24px;
    color: var(--text-body);
    transition: 1s ease-in-out;
    
}

.container-pages{
    grid-area: container-pages;
}

.porta-img{
    width: 100%;
    padding: 0px 10px;
}

.portafolio-h3-1{
    text-align: start;
    padding: 0px 16px;
    padding-top: 20px;
    padding-bottom: 20px;
    color: rgb(0, 0, 0);
    
}

.portafolio-h3-2{
    padding: 0px 16px;
    padding-top: 20px;
    padding-bottom: 20px;
    color: rgb(0, 0, 0); 
}

.portafolio-h3-3{
    padding: 0px 16px;
    padding-top: 20px;
    padding-bottom: 20px;
    color: rgb(0, 0, 0);
}

/*
.portafolio-1{
   grid-area: article2;
   
}

.portafolio-2{
    grid-area: article3;
   
}

.portafolio-3{
    grid-area: article4;
    
}*/

.porta-slider{
    display: none;
}

/* ---------- CONTENEDOR ARTICLE (GRID) ---------- */

.article{
    
    display: grid;
    display: flex;
    flex-direction: column;
    margin-bottom: 2.5rem;
    align-items: center; /*Centra los items manteniendolo mas pequeño*/
    grid-template-areas:
    'portafolio'
    'container-pages'
   ;
}

/* ---------- INICIO GRID AREA FOORTER ---------- */

.contacto-title{
    grid-area: footer1;
    text-align: center;
    font-size: 24px;
    padding: 40px 0px;
    color: var(--text-body);
    transition: 1s ease-in-out;
}

.contact-img-social{
    width: 80px;
}

.contact-subtitle{
    font-weight: bold;
    padding: 5px 0px;
    font-size: 18px;
    color: var(--text-body);
    transition: 1s ease-in-out;
}

.contact-subtitle-2{
    font-size: 14px;
    color: var(--text-body);
    transition: 1s ease-in-out;
}

.contenedor-contacto{
    grid-area: footer2;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
}

.firma-footer{
    grid-area: footer3;
    text-align: center;
    background-color: var(--head-footer);
    padding: 10px 0px;
    margin-top: 50px;
    color: var(--text-headfooter);
    transition: 1s ease-in-out;
}

/* ---------- CONTENEDOR FOOTER (GRID) ---------- */

.footer{
    display: grid;
    grid-template-areas: 
    'footer1'
    'footer2'
    'footer3';
}

/* ---------- INICIO CODE VIEW PAGES ---------- */

.container-pages{
    max-width: 1500px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2em;
}

.bar-chrome{
    position: relative;
    width: 350px;
    margin-bottom: -4px;
    z-index: 2;
}


.image{
    
    max-width: 350px;
    max-height: 445px;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 1px 10px 25px rgba(0, 0, 0, 0.5);
}

.img1{
    width: 100%;
    max-height: auto;
    transition: 2s;
    filter:brightness(90%);
}

.img1:hover{
    transform: translateY(-5%);
    filter: none;
}

.img2{
    width: 100%;
    max-height: auto;
    transition: 2s;
    filter:brightness(90%);
}

.img2:hover{
    transform: translateY(-30%);
    filter: none;
}

.img3{
    width: 100%;
    max-height: auto;
    transition: 2s;
    filter:brightness(90%);
}

.img3:hover{
    transform: translateY(-25%);
    filter: none;
}

.img4{
    width: 100%;
    max-width: auto;
    transition: 3s;
    filter:brightness(90%);
}

.img4:hover{
    transform: translateY(-43.9%);
    filter: none;
}

.img5{
    width: 100%;
    max-width: auto;
    transition: 1s;
    filter:brightness(90%);
}

.img5:hover{
    transform: translateY(-3%);
    filter: none;
}

.img6{
    width: 100%;
    max-width: auto;
    transition: 1s;
    filter:brightness(90%);
}

.img6:hover{
    transform: translateY(-12%);
    filter: none;
}

/* ---------- FIN CODE VIEW PAGES ---------- */


/* /-/-/-/-/-/-/-/-/-/-/ GRID PARA DESKTOP /-/-/-/-/-/-/-/-/-/-/ */

@media (min-width: 930px){

/* ---------- TITULO ANIMADO ---------- */

.console-container {
    /*font-family:Khula;*/
    font-size:62px;
  }


/* ---------- MENU HAMBURGUER AND NAV ---------- */

.header{
    padding: 0 50px;
    margin: 0;
    background-color: var(--head-footer);
    transition: 1s ease-in-out;
    display: flex;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
}   

.menu-hamburger{
    display: none;
}
     
#check-menu{
    display: none;
}

#check-menu:checked ~ .list-menu{
    display: none;
}
 
/* ---------- NEW BARRA DE NAVEGACION ---------- */

.list-newmenu {
    cursor: pointer;
    position: relative;
    padding: 10px 20px;
    font-size: 16px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    transition: all 1s;
    color: var(--text-headfooter); 
    transition: 1s ease-in-out;
    border: 1px dashed;
  }

  .list-newmenu:after, .list-newmenu:before {
    content: " ";
    width: 10px;
    height: 10px;
    position: absolute;
    border: 0px solid #fff;
    transition: all 1s;
  }

  .list-newmenu:after {
    top: -1px;
    left: -1px;
    border-top: 5px solid var(--back-yellow);
    border-left: 5px solid var(--back-yellow);
    transition: 1s ease-in-out;
  }

  .list-newmenu:before {
    bottom: -1px;
    right: -1px;
    border-bottom: 5px solid var(--back-yellow);
    border-right: 5px solid var(--back-yellow);
    transition: 1s ease-in-out;
  }

  .list-newmenu:hover {
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
  }

  .list-newmenu:hover:before, .list-newmenu:hover:after {
    width: 100%;
    height: 100%;
  }
  
  .list-newmenu-container {
    background: transparent;
    /*height: 100vh;*/
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: center;
  }


/* ---------- CONTAINER PRINCIPAL ---------- */

.grid-container{
    display: grid;
    /*gap: 10px;*/
    grid-template-rows: 140px auto;
    grid-template-areas: 
    'header'
    'section'
    'aside'
    'article'
    'footer'
    ;
}

/* ---------- ZONA SECTION ---------- */

.title{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;       
}

.description{
    text-align: start;
    font-size: 32px;
    color: gray;
    padding: 0;
}

.experiencie{
    text-align: start;
    font-size: 24px;
    padding-top: 15px;
}

.personal-pic-desktop{
    width: 400px;
    height: 400px;
    border-radius: 50%;  
    background-color: var(--back-picProfile);
    transition: 1s ease-in-out;
}

.personal-pic{
    justify-content: flex-end;
}

.contact{  
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;     
}

.btn-contact{
    width: 310px;
    height: 45px;
}

.section{
    display: grid;
    grid-template-columns: 50%;
    grid-template-rows: 140px 120px 50px 70px auto;
    grid-template-areas:
    'section1 section5' 
    'section2 section5' 
    'section3 section5'
    'section4 section5'
    'section6 section5';
    margin: 50px 50px;
    padding-bottom: 30px;
}

/* ---------- ZONA ASIDE ---------- */

.profesion-exp1{
    padding-bottom: 0px;
}

.profesion-exp2 {
    padding-bottom: 0px;
}


.title-exp{
    font-size: 35px;
    padding: 0;
    padding-top: 30px;
}
    
.experiencie-title{    
    padding-top: 30px;
    font-size: 20px;
    
}

.description-exp{
    padding: 0;
    font-size: 20px;
    margin-top: 50px;
}

.habilidades-title{
    padding: 0;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding-top: 50px;    
}

.contenedor-habilidades-img{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 3rem;
    padding-top: 30px;
}

.aside{
    
    padding: 0px 50px;
    display: grid;
    
    
    grid-template-columns: 50%;
    grid-template-areas: 
    'aside1 aside3'
    'aside1 aside4'
    'aside2 aside4'
    'aside5 aside4'
    'aside6 aside6';
}

/* ---------- ZONA ARTICLE ---------- */

.article{
    /*margin: 0px 120px;*/
    margin-bottom: 35px;
    display: grid;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    /*top: 0;*/
    gap: 1rem;
    /*grid-template-areas:
    'article1 article1 article1'
    'article5 article5 article5';*/
}

.porta-slider{
    width: 100%;
    min-height: 500px;
    grid-area: article5;
    display: block;
}

.portafolio-title{  
    text-align: center;
    padding-bottom: 3rem;
    font-size: 24px;    
}

.portafolio-1, .portafolio-2, .portafolio-3{
    display: none;
}
  
.portafolio-h3-1, .portafolio-h3-2, .portafolio-h3-3{
    padding: 0;
    padding-bottom: 10px;
}
   

/* ---------- ZONA FOOTER ----------*/

/*footer>.contacto-title{
    padding: 25px 0px;
    text-align: center;
}*/

.firma-footer{
    background-color: var(--head-footer);
    padding: 10px 0px;
    margin-top: 50px;
    color: var(--text-headfooter);
    transition: 1s ease-in-out;
}

.contenedor-contacto{
    display: grid;
    grid-template-areas: 
    'contacto-cel contacto-email';
    gap: 12rem;
}

/*.base-icon-{
    background-color: #F9F5F2;
    width: 150px;
    height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    
}*/

.contact-img-social{
    width: 100px;
}

.contacto-title{
    grid-area: footer1;
    font-size: 24px;
    padding: 40px 50px;

}

.contact-subtitle{
padding-top: 15px;
padding-bottom: 30px;
}

}

@media (min-width: 1090px){

.experiencie{
  padding-top: 0px;
}
}


/* ---------- FIN  CODE----------*/  


